<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <title>Unit Converter</title>
</head>
<body>
    <h1 class="pb-5 text-5xl text-center font-semibold">Unit Converter</h1>

    <div class="w-11/12 lg:w-2/5 mx-auto flex gap-1 sm:gap-5">
        <button class="converter-buttons text-xl font-semibold border-x-2 border-t-2 border-transparent px-1" hx-get="/converter/length" hx-target="#container">Length</button>
        <button class="converter-buttons text-xl font-semibold border-x-2 border-t-2 border-transparent px-1" hx-get="/converter/weight" hx-target="#container">Weight</button>
        <button class="converter-buttons text-xl font-semibold border-x-2 border-t-2 border-transparent px-1" hx-get="/converter/temperature" hx-target="#container">Temperature</button>
    </div>

    <div id="container" class="bg-slate-300 w-11/12 lg:w-2/5 mx-auto rounded-b-lg">
        
    </div>

    <script>
        const active_class = ["active", "rounded-t", "bg-slate-300"];
        const buttons = document.querySelectorAll(".converter-buttons");
        buttons.forEach((button) =>{
            button.addEventListener("click", () =>{
                buttons.forEach((b) => b.classList.remove(...active_class))
                button.classList.add(...active_class)
            })
        });

    </script>
</body>
</html>