<form hx-post="/convert/weight" hx-target="#container" class="p-2">
    <label for="source_value">Enter the weight to convert</label><br />
    <input name="source_value" id="source_value" required/><br />

    <label for="source_unit">Unit to convert from: </label>
    <select name="source_unit" id="source_unit" required>
        <option value="">None</option>
        <option value="ton">ton</option>
        <option value="kg">kg</option>
        <option value="gram">gram</option>
        <option value="mg">mg</option>
        <option value="pound">pound</option>
        <option value="ounce">ounce</option>
    </select><br />

    <label for="target_unit">Unit to convert to: </label>
    <select name="target_unit" id="target_unit" required>
        <option value="">None</option>
        <option value="ton">ton</option>
        <option value="kg">kg</option>
        <option value="gram">gram</option>
        <option value="mg">mg</option>
        <option value="pound">pound</option>
        <option value="ounce">ounce</option>
    </select><br />

    <button type="submit">Convert</button>
</form>